.project-bar__subtitle {
  margin: 0 0 0 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0.21666669845581055px;
  color: #FFF;
  opacity: .9;

}