.project__intro {
  border-radius: 10px;
  position: relative;
  width: 50%;
  background-color: #D3D4D6;
  padding: 55px 28px;
}

.project__intro::before {
  content: "";
  position: absolute;
  background-color: #D3D4D6;
  height: 100%;
  width: 20px;
  right: 0px;
  top: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 0 0 0 #7B7B7B;;
}